[2014-11-07 21:33] ryanpcmcquen opened #3 "CDN link will not update"
https://rawgit.com/

According to rawgit:

`It's best to use a specific tag or commit hash in the URL (not a branch). Files are cached permanently after the first request.`

Hence the link in the README will not update. The solution is to tag a release and use that link for the CDN.

[2014-11-07 21:53] #3 closed, assigned to nobody

[2015-10-17 14:44] gucki opened #4 "coreos icon missing"
Would be great to have it :+1:

[2015-10-17 14:45] gucki opened #5 "freebasd icon missing"

[2015-10-17 14:45] gucki opened #6 "gentoo icon missing"

[2016-02-09 03:35] Lukas-W commented on #5
Added in 5d1625c, will be included in the next release

[2016-02-09 03:35] #5 closed

[2016-02-09 21:40] #4 closed

[2016-02-09 21:40] #6 closed

[2016-03-02 00:14] pawelad opened #9 "elementrary OS"
Hi,

Would you consider adding [elementary OS](https://elementary.io) to your icon font? Here's their SVG logo - [link](https://commons.wikimedia.org/wiki/File:Elementary_logo.svg)

Kind regards,
Paweł

[2016-03-02 01:24] #9 closed

[2016-03-02 01:27] Lukas-W commented on #9
Thanks for the link to the SVG. Added and available in v0.3.

[2016-03-02 02:25] pawelad commented on #9
Thanks very much : )

[2016-03-02 22:53] pawelad commented on #9
@Lukas-W do you have any preferred  of creating `assets/preview.png` file? I wanted to update `README` table and preview image.

[2016-03-03 05:48] Lukas-W commented on #9
Nope, I don't even remember how I made the first one tbh. Although a script do this automatically would be really cool. @Caerbannog What did you use to generate `assets/preview.png` in 76397632fc9408aeb6c1aead9d22aec3ad2f8b86?

[2016-03-03 18:00] Caerbannog commented on #9
I took a screenshot of a page I created with something like this.
[code]

[2016-03-03 18:06] pawelad commented on #9
I love the simplicity : -)

[2016-03-10 05:11] Tyriar opened #12 "Provide a license"
I'd like to use font-linux but [need a license](http://choosealicense.com/) to do so. It would be great if you could add one :smiley:

[2016-03-10 05:51] Lukas-W commented on #12
Sure. Any suggestion? [SIL Open Font License](http://choosealicense.com/licenses/ofl-1.1/)? I don't really know much about what's a fitting license for what.

[2016-03-10 06:04] Lukas-W commented on #12
Ah whatever.

[2016-03-10 06:04] #12 closed

[2016-03-10 06:07] Lukas-W commented on #12
I guess none of the existing contributors @Caerbannog and @pawelad would disagree?

[2016-03-10 06:42] Caerbannog commented on #12
Agreed.

[2016-03-10 07:18] Tyriar commented on #12
Thanks a lot, I think CC0 is generally considered the best public domain license since the Unlicense/WTFPL don't hold up in certain countries.

[2016-03-10 12:55] pawelad commented on #12
Yeah, no problems from me.

[2016-03-10 14:06] tresf commented on #12
Some of the logos may carry a copyright, trade mark or service mark.  Since `font-linux` provides these logos in source form, an open license should make a clear distinction between code and graphics.

Because of this, the OP should more clearly identify the components they're looking to license, since `font-linux` clearly can't give authority on items they do not own.

[2016-03-10 14:15] pawelad commented on #12
I was actually gonna suggest similar thing, or at least researching it and seeing how it's done in other cases - most of the icon fonts use copyrighted names and logos.

[2016-03-10 22:40] Lukas-W commented on #12
Yeah, you're right. I took a look at [Font Awesome](http://fontawesome.io), they're under the "SIL Oen Font License". The website has these statements about their brand icons:

Do you think a similar statement would be sufficient in this case? Something like

Thoughts / opinions / legal advice welcome.

[2016-03-11 03:01] tresf commented on #12
:+1:

Even font-awesome skates on thin ice using so many third party logos without explicit written permission, but yes any disclaimer to precede the code license (i.e. IB4T TL;DR) should be sufficient. :+1:

[2016-03-11 06:52] Lukas-W commented on #12
@Tyriar

Do you know any specific countries that are affected? Are you affected by this in your country?

[2016-03-11 08:47] Tyriar commented on #12
@Lukas-W no, but I've been told and read that it's generally best for those reasons. [gnu.org](http://www.gnu.org/licenses/license-list.html#CC0) recommends it as the public domain license of choise)

[2016-03-11 23:27] Lukas-W commented on #12
Okay, so after I've done some reading, I decided to stick with the Unlicense for now. All claims of it being not applicable in some countries (they even call it "illegal" in Germany) that I found are very vague. I prefer it over CC0 because it's short (24 vs 118 lines), readable, and its intents are very clear in my eyes. In case there's ever a concrete problem or concern about it, just contact me

[2016-03-12 03:09] Lukas-W commented on #12
Thanks @tresf for your input. I added the disclaimer to the readme via f17a6cb3d7c9f7f8950f08aa00b31ec2b24f110d.

[2016-03-13 23:02] Fale opened #13 "Fedora inverse"
Please add a Fedora inverse icon (just the black f)

[2016-03-13 23:15] Lukas-W commented on #13
Trying that, I think just the `f` alone might not be very recognizable. Do you think it's better with an outline like the one in the middle?

![image](https://cloud.githubusercontent.com/assets/2879917/13732061/6cf06114-e9de-11e5-83b3-beaa51b8060b.png)

[2016-03-13 23:17] Fale commented on #13
I think you are right :). The middle one is more recognisable. Thanks a lot!

[2016-03-13 23:19] Fale commented on #13
PS: To make it more recognisable, it could be a way to add the other piece of the logo (usually the light blue one) in a grey 50% (or so) ![es](https://upload.wikimedia.org/wikipedia/commons/3/3f/Fedora_logo.svg)

[2016-03-13 23:23] Lukas-W commented on #13
That's not possible with icon fonts, there's only black and white as with normal fonts. If you need something like that, you can try including a normal SVG directly in your HTML.

[2016-03-13 23:28] Lukas-W commented on #13
Added via 93d8237.

[2016-03-13 23:28] #13 closed

[2016-03-14 10:28] Fale commented on #13
I forgot the font thing. Thanks a lot for the addition :)

[2016-05-03 11:18] fusion809 opened #14 "Icon Request: Sabayon."
Hi,

I would like to request that ya add an icon for Sabayon Linux to this excellent repository. Here is an example Sabayon Logo for ya to model this one after:

![](https://raw.githubusercontent.com/Sabayon/artwork/master/logos/sabayon.png)

Thanks for your time,
Brenton

[2016-05-04 09:38] Lukas-W commented on #14
Added in 32901c111aaac7bb5b378946294d8be2ea28951b thanks to @Caerbannog. :+1:
In case you're using the CDN, you can link to the new version like this to use it right away (CSS class is `fl-sabayon`):

[code]

[2016-05-04 09:38] #14 closed

[2016-06-04 17:27] walchko opened #16 "font request: Raspberry Pi"
Great work! Although not technically a linux distribution, the raspberry pie and raspbian tend to viewed as the same. How about adding it?

![logo](https://www.raspberrypi.org/wp-content/uploads/2011/10/Raspi-PGB001.png)

[2016-06-04 17:28] walchko opened #17 "font request: generic linux"
How about a simple penguin for generic linux?

![](https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Linux_Logo_in_Linux_Libertine_Font.svg/200px-Linux_Logo_in_Linux_Libertine_Font.svg.png)

[2016-06-04 17:35] walchko opened #18 "font request: apple"
Ok, so Apple is a Unix but not a linux. Could you include a simple Apple logo? Why you ask? For me personally, I include the giant Font Awesome just so I can have a linux and apple logo for some of my apps (here is [one](https://www.npmjs.com/package/archeyjs)) but now that I found yours, I am going to include it. I would like to dump font awesome, because I don't use 99% of the fonts in it.

![](

[2016-06-05 10:06] Caerbannog commented on #16
Have a look here:
http://fizzed.com/oss/font-mfizz/icon-raspberrypi

[2016-06-05 10:07] Caerbannog commented on #17
For reference:
http://fontawesome.io/icon/linux/

[2016-06-05 10:07] Caerbannog commented on #18
For reference:
http://fontawesome.io/icon/apple/

[2016-07-06 22:26] zx2c4 opened #20 "font request: OpenWRT"
I wish I could be more helpful, but I'm not really even sure what kind of logo would work well for OpenWRT. Their current logo seems to be horizontal text:

![OpenWRT](https://upload.wikimedia.org/wikipedia/commons/9/92/Openwrt_Logo.svg)

I'm using these on the [WireGuard install page](https://www.wireguard.io/install/), and OpenWRT is the only one missing a good logo.

[2016-08-22 12:04] zx2c4 opened #22 "font request: NixOS"
NixOS is a linux distro: http://nixos.org/

Here's a 512x512 svg:

![NixOS](https://data.zx2c4.com/nixos-0d0c7957-2f42-41a3-b3fa-4e212908d214.svg)

SVG: https://data.zx2c4.com/nixos-0d0c7957-2f42-41a3-b3fa-4e212908d214.svg

[2016-08-24 11:32] #22 closed

[2016-08-24 11:37] Lukas-W commented on #20
I can't just invent an icon for a distribution, so unless they come up with something that works well in an icon font (near-square dimensions, recognisable) one day, I'm afraid this is a wontfix.

[2016-08-24 11:37] #20 closed

[2016-08-24 13:24] #17 closed

[2016-08-24 13:32] #16 closed

[2016-09-22 01:17] sync0 opened #23 "Font Request: Manjaro Linux Logo."
Manjaro is quickly becoming a popular Linux distribution that builds on the power of Arch. Would you please add the Manjaro logo to the font?

https://github.com/manjaro/artwork-logo

Thanks in advance!

[2016-10-06 16:33] Lukas-W commented on #23
Added in v0.8.

[2016-10-06 16:33] #23 closed

[2016-10-06 16:33] Lukas-W commented on #18
Added in v0.8.

[2016-10-06 16:33] #18 closed

[2016-10-11 03:45] x09326 opened #24 "About the main file"
Hi, I'm going to host this lib on [cdnjs](https://cdnjs.com).

But I don't know which files should be added.
Could you help me?
Thanks!
https://github.com/cdnjs/cdnjs/issues/9217

[2016-10-13 11:11] Caerbannog commented on #24
You're probably interested in the /assets directory.
Specific files:

    font-linux.css
    font-linux.eot
    font-linux.svg
    font-linux.ttf
    font-linux.woff

The reason is that to use font-linux people link to the CSS file, which in turn links to the eot, svg, ttf and woff.

[2016-10-14 04:03] x09326 commented on #24
@Caerbannog
Thank you for your answer.

[2016-10-14 04:13] x09326 commented on #24
@Caerbannog
How about the SVG files in `vectors`?
Do we need them?

[2016-10-14 06:49] Caerbannog commented on #24
They are sources that get compiled into the assets.

Motardement,

Martin d'Allens
http://www.facebook.com/LibertyRiderApp

[2016-10-17 05:01] x09326 commented on #24
Okay, thanks!
I have sent a PR to cdnjs.
https://github.com/cdnjs/cdnjs/pull/9297

[2016-10-17 05:01] #24 closed

[2017-02-28 17:08] lukas-w opened #29 "Auto-publish to npm"
From #21. It'd be nice having Travis  or a similar service automatically publish new versions to npm and possibly bower.

[2017-04-10 11:31] Eremiell opened #30 "More Linux distros"
Hi!

I became recently interested in you nice symbol font via nerd fonts. I was thinking about your font a lot and came to conclusion, it is something I was looking for for some time, but it's missing some features.

I decided to split the stuff I'm missing into 3 separate groups, each of them having something in common.

This one is about linux distros. I'll file the other two as separate feature

[2017-04-10 11:55] Eremiell opened #31 "More non-linux distros"
To follow on from my previous request, this is about non-linux distros.

As you already list FreeBSD, there are few more that might fit into this category.

Namely other major BSD projects OpenBSD, NetBSD and DragonflyBSD and the one major offspring of OpenSolaris family, OpenIndiana.

There are surely quite some more distros on BSD (family) and Illumos kernels, but those are the ones that hit the

[2017-04-10 12:16] Eremiell opened #32 "DEs/WMs"
So to finish off my list of 3 at this moment, I'll take a bit different route.

Let's assume, you wanna actively include more distros, linux and non-linux alike and become a come to font and de facto standard for many places online and offline alike.

Linux as a lot about choice and picking a distro is just a baseline. Putting aside stuff like text editors, media players, web browsers, programming

[2017-04-10 14:42] tresf commented on #32
As a lurker, I'd like to chime... the apps could make their way in, they'd fit well into this library.

I'd vote that to keep the `linux` name, the graphic should represent an open-source project.  As a comparison, FontAwesome has `675` icons, although they actually maintain the artwork on the vast majority of those.  This library has the advantage of near exclusively re-using existing artwork, so

[2017-04-10 14:50] tresf commented on #32
Another -- albeit offtopic point is that if this continues and this library grows, @Lukas-W may find himself offering access to others to help maintain it.  The `@font-linux` ID is available, or we could create a more interesting name, such as `font-laeta` (Latin for "Happy"), etc.  Both `@font-laeta` as well as `@laeta` are available.

[2017-04-10 19:24] Eremiell commented on #32
I have a long standing interest in fonts, but no real know-how, but if someone points me to a reasonable tutorial or gives me a quick lesson fe. though IRC or another communication channel, I'll be happy to work on icons and make pull requests.

About software in general, I wouldn't be against it, but there should be some system at least. We shouldn't put in random pieces of software up and down.

[2017-04-10 19:30] Eremiell opened #33 "Unicode endpoints"
Btw, it might be a good idea to have some chat with people over at https://github.com/ryanoasis/nerd-fonts about endpoint (unicode code) allocation. They move the whole range some 0x200 endpoints up because it clashes with other common icon fonts.

https://github.com/ryanoasis/nerd-fonts/issues/138
https://github.com/ryanoasis/nerd-fonts/wiki/Codepoint-Conflicts#font-linux--font-awesome

Agreeing

[2017-04-10 20:05] tresf commented on #32
Necessity drives innovation and the beauty of GitHub is that people can have their itches scratched regardless of the reasoning.  Total world domination of icons is fine, but it's pointless.

Open source requirement is a good idea.  IntelliJ, CLion and VMWare fail in this category and they should be included no more than OS2/Warp should be included in the OS listing.

If the need is "major DE & WM

[2017-04-10 20:30] Eremiell commented on #32
Let's say I'm a very organized kind of person when it comes to tech. (I wish to be so organized when it comes to some other things.)

But ofc, I have no license of rightness. That's why we have discussion, to express different ideas and find out what they have in common, how they differ, if the differences support or contradict each other, and to find a way that fulfills everyone's needs the most.

[2017-05-02 14:29] Lukas-W commented on #32
@Eremiell, thanks for your interest and the time you put into writing up your thoughts in such a coherent way. I'll use this issue to address the general question #30, #31 and #32 rise, as this one would introduce the greatest change in the project's scope.

`font-linux` was created for the [download page of LMMS](https://lmms.io/download/#linux) (a cross-platform digital audio workstation), where

[2017-05-02 14:46] tresf commented on #32
@Lukas-W [font-awesome already provides this](http://fontawesome.io/icon/apple/).  We should be safe to replace.

[2017-05-02 15:02] Lukas-W commented on #32
@tresf True, but the very reason we included it was to provide a collection of OS logos without the massive overhead `font-awesome` imposes. See #18.

[2017-05-02 15:19] tresf commented on #32
👍

I'd vote there's still an all-encompassing one, e.g. `font-logos-all`, `font-logos-os`, `font-logos-apps` and perhaps even a rights-signifying `font-logos-cc` which strips out any that can't be used outside of fair-use.

[2017-05-02 15:51] Lukas-W commented on #32
Sure, the subsets would be offered in addition – if at all.

[2017-06-09 10:34] Munchotaur commented on #30
I can arrange the Devuan logo.

[2017-06-10 18:17] ammine007 commented on #31
Great Idea !
Try to generalize to the Free and Open World not only the world of GNU/Linux

[2017-12-11 21:08] mattdm opened #38 "please retain the infinity symbol in the Fedora logo"
Hi all. The Fedora symbol here loses the "infinity" aspect. I know this is a single-color font, and our preference is to use the wordmark when only one color is available, but we were experimenting with using checks or hashes and might be open to a special exception for this case. See some design work here: https://pagure.io/design/issue/539. What do you think?

[2017-12-18 19:15] lukas-w commented on #31
I very much like the idea of making this a general collection of open-source projects' logos. Closing this issue though because all of the discussion has been taking place in #32.

[2017-12-18 19:15] #31 closed

[2017-12-18 19:36] lukas-w commented on #38
@mattdm I'm afraid there's little we can do. This has already been brought up in https://github.com/lukas-w/font-linux/issues/13#issuecomment-196080242. The check pattern solution is an interesting "hack", but it depends on the correct display size to look somewhat right, which defeats the purpose of vector graphics. Maybe a thin outline could work, but I think the version we have is the best we c

[2017-12-18 19:43] lukas-w commented on #30
@Eremiell I don't have time to add all the logos you mention myself, but I'll gladly accept any pull request adding more. I don't plan on limiting the logos added in any way for now, if the font becomes too large we can offer subsets of it as proposed in #32. Let's continue the general discussion there. 👍

[2017-12-18 19:43] #30 closed

[2017-12-18 19:45] lukas-w commented on #33
@Eremiell Thanks for making me aware of this problem. As far as I know, FontCustom doesn't offer any way to configure this, so we may need to switch to resolve this. The FontCustom project appears to be quite dead anyway, so I'm open to alternatives.

[2017-12-18 19:54] lukas-w commented on #32
So the only thing left to do to make this change "official" is to rename this repo. I'm not sure what the consequences are, does anyone know if GitHub sets up forwards automatically?

I'm not quite happy with `font-logos`, but at least it's not worse than `font-linux`... Still, I'd be happy to hear ideas.

[2017-12-18 20:03] mattdm commented on #38
Let me check with our design team.

[2017-12-18 20:36] tresf commented on #32
https://github.com/LMMS/samples

[2017-12-18 21:08] lukas-w commented on #32
Great, thanks @tresf 🍏. https://help.github.com/articles/renaming-a-repository/ says Project Pages URLs won't redirect though, so https://lukas-w.github.io/font-linux/ will be inaccessible after renaming...

[2018-01-05 17:56] lukas-w commented on #32
Project was renamed to `font-logos`.

Pull requests for any open-source DEs/WMs/whatever welcome 👍

[2018-01-05 17:56] #32 closed

[2018-02-11 16:01] ryanoasis commented on #32
So we are working on a new release of [Nerd Fonts](https://github.com/ryanoasis/nerd-fonts), please let us know if we are representing "font-logos" correctly or any change you'd like to see: https://github.com/ryanoasis/nerd-fonts#font-logos-formerly-font-linux

Internally mostly the project will still be referred to as font-linux but we are using both names in many places publicly. 😄

[2018-02-23 11:10] lukas-w commented on #32
@ryanoasis That's just fine. Thanks for checking with me.

[2018-03-04 05:22] Dobbie03 opened #39 "Font Request: ArchLabs Linux"
Hi, Can we have ArchLabs added to the collection please?
![archlabs_logo](https://user-images.githubusercontent.com/14961904/36942521-fd1b1b80-1fd8-11e8-83a6-28accd938219.png)

[2018-04-29 06:06] kenokenobingo opened #40 "Font Request: OpenBSD"
What about adding [OpenBSD](https://www.openbsd.org)?

![OpenBSD Logo](https://upload.wikimedia.org/wikipedia/en/thumb/8/83/OpenBSD_Logo_-_Cartoon_Puffy_with_textual_logo_below.svg/392px-OpenBSD_Logo_-_Cartoon_Puffy_with_textual_logo_below.svg.png)

[2018-07-19 14:34] iredmail commented on #40
+1. Please add OpenBSD. :)

[2018-08-06 13:52] ghost opened #41 "Request to add linux-deepin"
The idea is great.
Can you add deepin, a Debian based distribution, created and maintained by Chinese people?
![006dlfvfgy1ftsamxzvfij30sg0ke0wh](https://user-images.githubusercontent.com/42143347/43720281-a79001d0-99c2-11e8-853a-4a6c59d2b56d.jpg)
The distribution of icons is believed that the author should be able to get them. Their official website is: www.deepin.org
Thank you!@linuxdeepin

[2018-08-06 13:54] tresf commented on #41
Can you please provide a link to the SVG or upload the SVG here?

[2018-08-06 13:59] ikozo4 commented on #41
OK, SVG format here:
https://raw.githubusercontent.com/haruyukilxz/deepin-topbar/master/deepin-logo.svg

Thank you!

[2018-08-23 15:21] kyrios123 opened #42 "Font Request: Solus logo"
[Solus](https://solus-project.com/) is a linux distribution.

The logo is available in [this archive](https://getsol.us/assets/solus.zip)  `/solus/SVG/Solus.svg`

Thanks :smiley:

CC: @JoshStrobl in case there should be a need of a modified SVG logo

[2018-08-23 15:33] kyrios123 opened #43 "Font Request: Budgie Desktop"
[Budgie](https://budgie-desktop.org/home/) is a desktop environment for linux.

A SVG logo is available in [this archive](https://getsol.us/assets/solus.zip) `/budgie/SVG/Budgie.svg`

Thanks :grinning:

CC: @JoshStrobl in case there should be a need of a modified SVG logo

[2018-12-12 16:33] mattdm commented on #38
Please remove the icon for now. We're working on an updated logo design which will address the problems. In the meantime, we do not want this incorrect logo to proliferate. Thank you!

[2018-12-18 16:40] lukas-w commented on #38
@mattdm I'd like to wait for a decision being made in your discussion with the FontAwesome team at https://github.com/FortAwesome/Font-Awesome/issues/980 and then follow that decision if that's fine with you. The arguments made there apply here as well.

[2019-01-13 12:49] lukas-w commented on #38
@mattdm I've been including "inverse" variants of a handful of logos, including the Fedora logo. I've edited the inverse version to include the infinity aspect in the same way the normal one does. Is this fine for you? Here's a preview:

![image](https://user-images.githubusercontent.com/2879917/51085453-bc39f380-1739-11e9-94af-346bd45f93fa.png)

[2019-06-26 12:43] akshayrb22 opened #44 "Font Request: Pop!_OS"
[Pop!_OS](https://system76.com/pop) is a desktop environment for Linux based on Ubuntu.

A PNG logo is available [here](https://i.redd.it/9wehb531h5631.png). I'm afraid I do not know where to find an SVG logo. Hope it's alright.

Thanks. :smiley:

[2019-08-17 08:17] linkert opened #45 "Font Request: Void Linux"
[SVG](https://upload.wikimedia.org/wikipedia/commons/0/02/Void_Linux_logo.svg)

How about getting Void Linux in on this party?

[2019-10-21 13:54] leoherzog commented on #44
SVGs are available [here](https://github.com/pop-os/icon-theme/blob/master/src/bitmaps/logos/distributor-logo-pop-os.svg).

[2019-11-13 18:58] #38 closed

[2019-11-14 11:55] lukas-w commented on #45
Added by @SirPscl in #46 and released in `v0.12`.

[2019-11-14 11:55] #45 closed

[2019-11-16 04:20] GutsyHeart opened #47 "Font Request: Artix Linux"
png logo: https://artixlinux.org/img/artix-logo.png

[2020-02-18 03:49] elboulangero opened #48 "Flathub icon vertical alignment"
Hi, not sure if it's an issue with your font to be honest, my CSS skills are rock-bottom so I can't tell myself.

So, see these 2 screenshots: the logo is aligned with the top of the line, so it doesn't look great.

![Screenshot from 2020-02-18 10-44-01](https://user-images.githubusercontent.com/1942580/74702323-4194af00-523c-11ea-8c14-00aa1bb8873f.png)

![Screenshot from 2020-02-18 10-44-17](http

[2020-03-24 08:14] jlinnosa opened #49 "Font Request: illumos"
https://illumos.org/docs/about/logo/

![image](https://user-images.githubusercontent.com/724307/77404075-d51c4b00-6db9-11ea-99df-b22eda505439.png)

"All other use must be approved by Garrett D'Amore." so pinging @gdamore

[2020-03-24 14:18] gdamore commented on #49
I approve.

[2020-04-08 09:28] jlinnosa commented on #49
@gdamore can you attach a single color bare logo svg here? I think that would help in getting this done.

[2020-04-21 08:03] WhyNotHugo opened #50 "List of fonts and their unicode number?"
Both the readme and the site have a list of glyphs included, but images are shown (so I can't copy-paste them).

I'd try to use <kbd>ctrl</kbd>+<kbd>shift</kbd>+<kbd>u</kbd> and their unicode number, but that doesn't seem listed anywhere.

I can't figure out how I'm supposed to use them on my scripts/terminal. Can you maybe add the unicode numbers for each glyph somewhere?

[2020-04-21 08:03] WhyNotHugo commented on #50
Oh, actually, they seem to be here: https://github.com/lukas-w/font-logos/blob/master/assets/font-logos.css#L100

Maybe it's just a matter of moving that into the README or website HTML?

[2020-04-21 08:24] lukas-w commented on #50
@WhyNotHugo The font is generated from SVGs using [FontCustom](https://github.com/FontCustom/fontcustom). Unfortunately, with FontCustom there appears to be no way to control or expose the unicode codes. I'm not even sure it guarantees that they stay the same on regeneration. We'd need to switch to a different solution to resolve this and #33.

[2020-04-22 09:22] WhyNotHugo commented on #50
If they change on each regeneration, that means I'd have to adapt all my usages each times it's rebuilt. How do _you_ work around this and use the font?

[2020-04-22 10:30] lukas-w commented on #50
I only use it in websites, so I use the CSS class name, not Unicode. Maybe [Nerd Fonts](https://github.com/ryanoasis/nerd-fonts) is a better option for you at the moment? They bundle this font amongst many others and map icons to specific documented code points.

[2020-04-22 11:15] WhyNotHugo commented on #50
Yeah, looks like Nerd Fonts covers it for me. Any other relevant discussion is covered by #33. Thanks!

[2020-04-22 11:15] #50 closed

[2020-06-14 07:23] k-caps opened #51 "Font request: Zorin"
[zorin-icon-svg.zip](https://github.com/lukas-w/font-logos/files/4776003/zorin-icon-svg.zip)

[2020-07-02 12:07] k-caps commented on #51
Added it myself [here](https://github.com/lukas-w/font-logos/pull/52).

[2020-07-09 16:58] lukas-w commented on #51
Added via #52 :+1:

[2020-07-09 16:58] #51 closed

[2020-07-13 06:09] lukas-w commented on #41
Added via ed7ab9c46fbeee968052ea6541ba1f0cd770fd6a.

[2020-07-13 06:09] #41 closed

[2020-07-13 06:10] lukas-w commented on #42
Added via 82a9a6ed7d7a38ffc5c36ac349fb94127b5563ed.

[2020-07-13 06:10] #42 closed

[2020-07-13 06:10] lukas-w commented on #49
Added via 0cf04ff8646f86a16daed8baa063c99a2dab50a2.

[2020-07-13 06:10] #49 closed

[2020-07-13 06:10] lukas-w commented on #43
Added via aac483155f3d694f9b02df1a85afa7d6fc6c1df3.

[2020-07-13 06:10] #43 closed

[2020-07-13 06:10] lukas-w commented on #48
Fixed via 8df991774a1834233b3275aa4751d692428b33d6.

[2020-07-13 06:10] #48 closed

[2020-08-03 04:14] pieps opened #53 "Font Request: Ferris the Rustacean"
Original svg logo: https://rustacean.net/assets/rustacean-flat-noshadow.svg

Optimized for monochrome font: https://raw.githubusercontent.com/vorillaz/devicons/3a4a853d00c39cb91f708dafb151537380d0ce1a/ferris.svg

[2020-10-19 22:46] Rblock919 opened #55 "Cannot get font working properly in urxvt (rxvt-unicode)"
I cannot get these font-logos to display in rxvt-unicode or the gnome-terminal. Not sure if it is something wrong with my config or just an incompatibility that I am unaware of. The font-logos do show up under `fc-list`

Here is my .Xresources relevant config:

[code]
Per arch-wiki "Note: If there is a hyphen(-) in an Xft font name, it must be escaped with backslash(\) twice. It's different from t

[2020-10-20 18:27] Rblock919 commented on #55
Also having the same issue in kitty (although glyphs look much better in general in kitty opposed to urxvt).

[2020-11-06 22:19] artixnous commented on #47
We also provide the original SVG images:

<a href="https://github.com/artixnous/artix-branding/blob/master/logo/Signet_ColorFull.svg">
  <img src="https://raw.githubusercontent.com/artixnous/artix-branding/c43afa7904a45aecbade2833d5175282089c2a3d/logo/Signet_ColorFull.svg" width="20%" height="144">
</a>
<a href="https://github.com/artixnous/artix-branding/blob/master/logo/Signet_Grayscale.svg">

[2020-11-25 19:17] lukas-w commented on #39
The flame detail is making this appear blurry when rendered. I tried to recreate the shape without the detail to fix this, hope this is fine, I think it's still well recognizable (bottom one is simplified):

![image](https://user-images.githubusercontent.com/2879917/100272295-28ebbf00-2f5b-11eb-8bc9-4563735d06ff.png)

[2020-11-25 19:34] #39 closed

[2020-11-25 19:34] #40 closed

[2020-11-25 19:34] #44 closed

[2020-11-25 19:34] #47 closed

[2021-01-15 09:53] siduck76 commented on #55
urxvt's bad with displaying glyphs , try the fonts on alacritty or st . Btw how did you copy those fonts? I couldnt get em working on terminal.

[2021-03-18 02:24] siduck76 commented on #55
@Rblock919 is there any cheatsheet for this font, something like nerdfonts cheatsheet ? Im unable to copy paste it in my terminal .

[2021-03-22 20:34] lukas-w commented on #53
Forgot to close this. Added via ff445ab4ce788ee3e56fce9a3c2c46e1437c405a

[2021-03-22 20:34] #53 closed

[2021-03-25 03:21] siduck76 opened #59 "How do I copy fonts?"
@lukas-w  is it possible that I could  these fonts on the terminal? is there any cheatsheet to copy fonts  and paste them on terminal, like nerdfonts?
![image](https://user-images.githubusercontent.com/59060246/112414076-703a5e80-8d47-11eb-8027-351f9209b50b.png)

cheatsheet like this : https://www.nerdfonts.com/cheat-sheet

[2021-03-30 18:48] lukas-w commented on #59
@siduck76 There's no cheatsheet for copying symbols at the moment because the unicode endpoints aren't guaranteed to be stable between releases (related #33) as FontCustom has no such functionality AFAIK. The only stable interface this project currently provides are the CSS names. Nerdfonts includes this font, so I recommend you just use that for this purpose :+1:

[2021-03-31 01:11] siduck76 commented on #59
I didnt find void linux / artix linux logo on nerdfonts :/ , they dont use it!

[2021-04-09 15:03] siduck76 commented on #59
@lukas-w many linux distro  logos like void linux / artix , popos , archlabs etc are not available on nerdfonts :(

[2021-04-09 16:16] lukas-w commented on #59
@siduck76 I'm not sure how active the nerd-fonts is but you may be able to get them to update their version of this font. Alternatively, you can lookup the unicode endpoints of this font's release in the css file: https://github.com/lukas-w/font-logos/blob/1963c5e05343564b0d23f4920109082120b4e89d/assets/font-logos.css#L111-L154

[2021-04-09 17:46] siduck76 commented on #59
@lukas-w what do I do with the unicode endpoints? I just want to copy the glyph of void and artix and paste it in my terminal, can you tell me how ? , Ive tried using fontforge copying fonts from there , looked different when I pasted them in the terminal . Maybe because its conflicting with some exisiting fontawesome or such .

[2021-04-09 19:11] lukas-w commented on #59
I'm afraid I can't really help you with this. I've never used an icon font in a terminal, so I don't know what steps are involved. I suppose you need to patch an existing font with the icon font's glyphs for this to work, which is what Nerd Fonts is doing so I suggest you try your luck asking there. Sorry!

[2021-04-09 19:11] #59 closed

[2021-06-18 09:09] jamielsharief opened #62 "Rocky linux logo"
Thanks for maintaining this repo. Any chance you can [rocky linux](https://rockylinux.org/)?

[2021-06-21 15:43] leoherzog commented on #62
[code]
![https://raw.githubusercontent.com/rocky-linux/branding/main/logo/out/logo-bg_transparent-primary_black-512x.png](https://raw.githubusercontent.com/rocky-linux/branding/main/logo/out/logo-bg_transparent-primary_black-512x.png)

[2021-06-23 16:29] bnussman commented on #62
Added https://github.com/lukas-w/font-logos/pull/63

[2021-06-26 14:37] Riyadulmollick opened #64 "Update the fedora logo"
Fedora has announced their new logo. It has changed a little.

[2021-06-26 14:45] Riyadulmollick commented on #64
SVG Link: https://commons.wikimedia.org/wiki/File:Fedora_logo_(2021).svg
![Fedora_logo_(2021)](https://user-images.githubusercontent.com/52068306/123516719-577f7300-d6bf-11eb-814b-db9c1ac4d421.png)

[2021-07-09 08:40] jamielsharief commented on #62
Thanks.

[2021-07-09 14:36] #62 closed

[2021-08-21 18:44] not-a-robot69 commented on #55
Has anyone found something like this yet?

[2021-08-21 18:46] siduck76 commented on #55
nope :(

[2021-08-31 02:48] lokesh-krishna opened #66 "Update website with new icons"
The website doesn't feature many of the new icons and since it's the easiest way to preview the icons available, it would be nice to update it to feature all the icons that are presently available so that it can better serve as a representation of the project.

[2021-12-21 18:52] mi16087 opened #70 "Font request: Endeavour OS"
Hi, is there a chance to add [EndeavourOS](https://endeavouros.com/) logo?
Here's the logo and some of my suggestions
![eos-exemples](https://user-images.githubusercontent.com/44554049/149404975-0e2a8103-d98c-4354-9017-a0773384f21f.png)
maybe even this:

![eos-font](https://user-images.githubusercontent.com/44554049/149412304-9a434df1-240f-4bee-9dda-fa86fce01cb9.png)

[2022-01-25 16:19] Finii opened #72 "Release v0.18 breaks codepoints"
With release v0.18 the codepoints of the logos in the `ttf` font have changed. That means, that a person who uses a symbol with v0.17 needs to adapt after updating.

![image](https://user-images.githubusercontent.com/16012374/151007716-b90a1bc8-1d12-4321-8831-6252d145ca0c.png)

This commit https://github.com/lukas-w/font-logos/commit/f161cf60da18815780bc48dacc0810490a1a8dfd removes the file `.font

[2022-01-25 16:35] Finii commented on #72
Here is the full history. The last glyph is always colored blue.

|||
|-|-|
| v0.1 | v0.5 |
| v0.2 (shuffle behind Fedora) | v0.6 |
| v0.3| v0.7 |
| v0.4 | |

![image](https://user-images.githubusercontent.com/16012374/151016886-7d4b3773-290e-4368-9640-d9890c61bd3f.png)

|||
|-|-|
| v0.8 | v0.11 |
| v0.9 | v0.12 |
| v0.10 (shuffle to fill gaps? Renaming) | v0.13 |

![image](https://user-images.git

[2022-01-25 16:48] Finii opened #73 "Fedora inverse vanished"
Somehow, since v0.13 the inverse Fedora logo has been replaced by the non-inverse Fedora logo.

![image](https://user-images.githubusercontent.com/16012374/151021097-6ab2fafc-d024-42d6-89fb-125f24429eff.png)

_Font `ttf` files from the release pages; top: v0.12, bottom v0.13_

_Edit: I got inverse and non-inverse mixed up. Well, the darker thing is 'inverse' :roll_eyes:_

[2022-01-25 17:05] Finii commented on #73
Culprit: 4f5b04d74a

Somehow @lukas-w's rework we see https://github.com/lukas-w/font-logos/issues/38#issuecomment-453827003 is lost :cry:

Is this just a rendering problem in `fontforge`? :thinking:

[2022-01-25 18:19] Finii commented on #73
This is indeed an import problem of `fontforge`, the `svg` renders correctly in Inkscape and EoG:

![image](https://user-images.githubusercontent.com/16012374/151035565-39dc6505-9a4d-4b11-b032-956c509806f2.png)

(`fontcustom` is 'just a script' to invoke `fontforge`)

[2022-01-25 18:52] Finii commented on #73
Ah! The outer border is on fat stroke and not two strokes with a filled area in between.
I believe fonts can not do 'stroke thickness' and base on areas that are filled.
Trying to redraw it in a compatible way.

[2022-01-26 12:52] Finii commented on #64
Do you have a link for the announcement?

Interestingly https://fedoraproject.org/wiki/Logo and https://fedoraproject.org/wiki/Logo/UsageGuidelines have still the infinity logo??!
At least it seems to exist an Issue tracker: https://pagure.io/fedora-design/spot-the-old-logo/issues

But no 'offical' download of the new logo?

[2022-02-07 23:48] iMonZ opened #77 "SteamOS 3.0"
Hey could you please add SteamOS 3.0?

[2022-02-25 23:05] mi16087 commented on #70
@ronan696 do you know when will your branch `70-endeavour-os` be merged with @lukas-w master  `font-logos` ?

[2022-03-02 13:58] dragonek93 opened #79 "font logos glyphs"
how can i get the acces to glyphs to copy them and put on the video editor etc

[2022-03-18 10:51] ahmadraniri1994 commented on #79
Hi, I'm curious too.

[2022-04-06 22:52] mi16087 commented on #79
If you want just glyphs, you can search them on [https://www.nerdfonts.com/cheat-sheet](https://www.nerdfonts.com/cheat-sheet) , the os logos start from f300 I think, you can copy it as text character.

And if you want a vector, you can install FontForge, chose any nerd font you have, scroll down to os logos in that font, double click the one you want, it'll open vector representation, if you want

[2022-04-22 10:38] jose1711 opened #80 "Please add AIX logo"
https://commons.wikimedia.org/wiki/File:IBM_AIX_logo_(pre_2021).svg

[2022-05-17 11:27] lukas-w commented on #70
Apologies for my absence. I'll have a look shortly.

[2022-06-01 15:43] #70 closed

[2022-06-01 15:46] #73 closed

[2022-06-02 05:46] Finii commented on #33
@lukas-w The codepoint changes are still a problem for Nerd Fonts. Maybe you can reconsider #75, or at least comment on that please :-)

[2022-06-02 06:03] lukas-w commented on #33
Apologies @Finii, I didn't meaning to ignore you, just haven't had much time & energy to spare recently. I'll get back to you.

[2022-06-02 06:12] Finii commented on #33
No apologies needed!

Thank you for working on this project despite short time (I know that situation ;-).

[2022-06-27 19:17] Termik-g opened #81 "Devuan 4 (Chimaera)"
Could you please add Devuan logo?

[2022-07-03 08:46] lukas-w commented on #72
@Finii Sorry again for taking so long to respond to this. `.fontcustom-manifest.json` was indeed not removed by accident. Originally this icon font was made for web use so unlike CSS classes, I haven't considered code points a documented interface, partly because as far as I know Font Custom offers no stability guarantee or ability to control the code points allocated.

I agree though that code po

[2022-07-05 14:22] #33 closed

[2022-07-05 15:44] lukas-w commented on #72
@Finii I noticed that FontCustom  is really just a thin wrapper around FontForge so I changed the build to use FontForge directly via 34043a854aeea79bc410ef1b9220b755a175e13b which allows us to set code points directly (saved as offsets in `icons.tsv`) instead of working around FontCustom's missing functionality for this. I used code points starting from `0xf300` to account for #33 so this breaks

[2022-07-05 15:48] lukas-w commented on #33
Fixed in `v1.0.0`. I've referred to https://www.nerdfonts.com/cheat-sheet?set=nf-linux- and used the codepoints given there for compatibility. All new icons not included in Nerd Fonts yet are allocated upward of `0xf300`.

[2022-07-06 06:44] Finii commented on #72
Thank you for fixing this issue :tada:

No need to feel bad to close #75. That was just a workaround for the assumption that you had important reasons to remove the 'config' file. And it was fun to implement. And it always looked bad (i.e. too complicated) - but I was hesitant to suggest `fontforge` directly, because that is a higher maintenance burden on _you_. I'm using ff directly for everythin

[2022-07-06 06:54] Finii commented on #72
Those who can read ... :-)

Sorry, please ignore that comment. That explains it.

[2022-07-06 07:33] Finii commented on #72
Maybe you want to add some metadata to the font file.

Like for example the version number (at least).

Here is a code snippet to do that, too lazy for a PR:

[code]

But then, I also do not see where you set the copyright string :thinking:

Here you can see the various version numbers:

![image](https://user-images.githubusercontent.com/16012374/177494252-2333e296-f90f-46c3-b95c-afa5be02b289.png)

[2022-07-07 06:35] Finii commented on #72
Incorporated the new release into Nerd Fonts (see MR above). Thank you again!

[2022-07-07 07:46] daniruiz opened #82 "The update Kali icon is barely visible"
With the latest update the icon for Kali is way too small. I know the previous image was oversized but that was done on purpose, as Kali's logo is really hard to align and too thin.

This is the commit with the changes to the logo:
https://github.com/lukas-w/font-logos/commit/aef7b01d38929a47bb06dd27f67435d3fea78899

Here's a comparison of the old and new icons being used in the terminal:
**Old:**

[2022-07-08 13:28] lukas-w commented on #72
Done via c3955d374373264a35544ff3bbed42088a8e7c11, thanks. :+1:

I don't. I don't feel comfortable claiming copyright on something that consists entirely of other people's work :wink:

Right, `npm install` was missing from the README. Fixed via 83c0317177c30d767c39795e7e5295508a1e9d97.

[2022-07-08 13:29] lukas-w commented on #79
I guess that answers it :)

[2022-07-08 13:29] #79 closed

[2022-07-08 15:48] Finii commented on #72
I'm too stupid...:

![image](https://user-images.githubusercontent.com/16012374/178019635-be27c3bc-e8b0-4156-93b5-11037415c191.png)

Ah, I'm on Ubuntu 22.04, that comes with _ages old_ node.js 12.x ... manually upgrade to 14.20 and it works :+1:

Ok... this is the result:

![image](https://user-images.githubusercontent.com/16012374/178022308-a6fa109a-17ef-4352-9fde-088db2fa30fc.png)

You see, in y

[2022-07-08 20:08] daniruiz commented on #82
Thank you! :wink:

[2022-08-05 07:24] hericiumvevo opened #83 "Logo request: Crystal Linux"
Thanks for all the work maintaining this! Is there a chance you could add the Crystal Linux logo?
[code]

[2022-08-05 07:25] hericiumvevo commented on #83
Tried to do edit the font myself but it didn't really work out
![image](https://user-images.githubusercontent.com/54361578/183024759-e43b56a0-23d9-4cfb-933f-298c06ee68db.png)

[2022-09-10 20:14] Blayung opened #84 "[Suggestion] Add copy-n-paste section to README.md"
Well, I don't know how to get these glyphs, so yea...

[2022-09-10 20:39] Blayung commented on #84
Ahh nvm i gonna do it my self tomorrow cuz I found an way to get these glyphs.

[2022-09-10 20:39] #84 closed

[2022-09-29 18:27] Finii opened #86 "Logo 'ferris' broken on Windows"
The ferris glyph `u_F323` looks like this in outline view:

![image](https://user-images.githubusercontent.com/16012374/193111381-30dafea9-4213-4951-8758-c02903535a19.png)

Note that there are multiple overlying outlines. Probably it was colored before. The multiple outlines are usually not a problem with `svg`s, but fonts are a bit more picky.
Anyhow, it looks good in `fontforge`'s preview/render

[2022-09-29 20:08] Finii commented on #86
Also cleaned up the eyes..

![1](https://user-images.githubusercontent.com/16012374/193131448-15eb266d-9519-4709-9af6-17516ac51c40.png)

After:

![2](https://user-images.githubusercontent.com/16012374/193131453-6d9dd3d7-4e0d-4493-865f-27a49ff066ca.png)

[2022-09-30 06:23] Finii commented on #66
I guess this has already been implemented and the Issue can be closed.